.footer {
    @include flexBuild(center);
    margin-top: 140px;
    background: $edge;
    color: $white;
}
.link-for-button {
    @include widthHeight(320px, 179px);
    @include flexBrick(space-between);
    padding: 30px 50px;
    background: #D9F1E0;
    border-radius: 5px;

    position: relative;
    top: -90px;
}
.footer-button-text {
    @include font(700, 20px, 27px);
    text-align: center;
    text-transform: capitalize;
    color: $black;
    span {
        color: $prime;
    }
}
.small-get-a-quate {
    @include widthHeight(153px, 40px);
    text-align: center;
    @include font(700, 16px, 38px);
    color: $white;
    text-transform: capitalize;
    border-radius: 5px;
    background: $prime;
    border: 1px $prime solid;
    &:hover {
        background: $white;
        color: $prime;
    }
}
.footer-subscribe {
    margin-top: -40px;
    margin-bottom: 15px;
    @include flexStart();
    @include widthHeight(344px, 167px);
}
.footer-sub-basic {
    form {
        border-bottom: 1px $white solid; 
        @include widthHeight(344px, 30px);
        @include flexHead(space-between);
    }
}
.footer-sub-head {
    @include widthHeight(205px, 25px);
    @include font(700, 18px, 25px);
    text-transform: capitalize;
    margin-bottom: 15px;
}
.footer-sub-text {
    @include widthHeight(345px, 66px);
    @include font(400, 14px, 22px);
    margin-bottom: 30px;
}
.foot-wr-let-email {
    @include widthHeight(233px, 30px);
    @include font(400, 14px, 46px);
    background: none;
    border: 0;
    color: $white;
    &::placeholder {
        color: $white;
    }
}
.foot-wr-let-button {
    @include widthHeight(106px, 30px);
    @include font(700, 22px, 30px);
    border: 0;
    padding: 0px;
    margin-right: 5px;
    background: none;
    color: $white;
    &:hover {
        cursor: pointer;
    }
}
.links-for-network {
    @include widthHeight(340px, 30px);
    @include flexHead(flex-start);
    
}
.link-for-facebook, .link-for-twitter, .link-for-google, .link-for-in {
    @include widthHeight(30px, 30px);
    border-radius: 50%;
    border: 1px $white solid;
    background: none;
    margin-right: 20px;
    @include image();
    &:hover {
        background: $white;
        cursor: pointer;
    }
}
.link-for-facebook {
    background-image: url(../images/footer-facebook-white.png);
    &:hover {
        background-image: url(../images/footer-facebook-green.png);
        @include image();
    }
}
.link-for-twitter {
    background-image: url(../images/footer-twitter-white.png);
    &:hover {
        background-image: url(../images/footer-twitter-green.png);
        @include image();
    }
}
.link-for-google {
    background-image: url(../images/footer-google-white.png);
    &:hover {
        background-image: url(../images/footer-google-green.png);
        @include image();
    }
}
.link-for-in {
    background-image: url(../images/footer-in-white.png);
    &:hover {
        background-image: url(../images/footer-in-green.png);
        @include image();
    }
}
.contacts {
    margin-top: 40px;
    @include flexStart();
    @include widthHeight(345px, 126px);
}
.foot-contact-head {
    @include font(700, 18px, 25px);
    margin-bottom: 15px;
}
.foot-contact-address, .foot-contact-phone, .foot-contact-email {
    @include font(400, 14px, 22px);
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.useful-links {
    @include widthHeight(345px, 158px);
    @include flexStart();
    margin-top: 40px;
}
.foot-ul-head {
    @include font(700, 18px, 25px);
    margin-bottom: 15px;
    text-transform: capitalize;
}
.foot-ul-table {
    @include widthHeight(260px, 118px);
    @include flexHead(space-between);
}
.foot-ul-line-1 {
    @include widthHeight(76px, 118px);
    @include flexStart();
    margin-right: 99px;
}
.foot-ul-line-2 {
    @include widthHeight(85px, 118px);
    @include flexStart();
}
.foot-ul-item {
    @include font(400, 14px, 22px);
    @include flexHead(space-between);
    &:before{
        @include beforeAfter();
        @include widthHeight(6px, 10px);
        background-image: url(../images/footer-ul-arrow.png);
        @include image();
        margin-right: 10px;
    }
}