.footer {
    @include flexBuild(center);
    margin-top: 140px;
    background: $edge;
    color: $white;
    @media (min-width: 1510px) {
        padding: 0px;
        margin-top: 170px;
    }
}
.link-for-button {
    @include widthHeight(320px, 179px);
    @include flexBrick(space-between);
    padding: 30px 50px;
    background: #D9F1E0;
    border-radius: 5px;

    position: relative;
    top: -90px;
    @media (min-width: 1510px) {
        @include widthHeight(1410px, 125px);
        @include flexHead(space-between);
        flex-direction: row;
        border-radius: 10px;
        padding: 0px 100px;
        top: -70px;
    }
}
.footer-button-text {
    @include font(700, 20px, 27px);
    text-align: center;
    text-transform: capitalize;
    color: $black;
    span {
        color: $prime;
    }
    @media (min-width: 1510px) {
        @include widthHeight(auto, 61px);
        @include font(700, 45px, 61px);
    }
}
.small-get-a-quate {
    @include widthHeight(153px, 40px);
    text-align: center;
    @include font(700, 16px, 38px);
    color: $white;
    text-transform: capitalize;
    border-radius: 5px;
    background: $prime;
    border: 1px $prime solid;
    &:hover {
        background: $white;
        color: $prime;
    }
    @media (min-width: 1510px) {
        @include widthHeight(175px, 50px);
        @include flexHead(center);
        @include font(700, 18px, 50px);
        background: $white;
        color: $prime;
        &:hover {
            background: $prime;
            color: $white;
            cursor: pointer;
        }
    }
}

.footer-middle-block {
    @media (min-width: 1510px) {
        @include flexHead(space-between);
        @include widthHeight(1410px, 354px);
        margin-top: 45px;
    }
}
.footer-subscribe {
    margin-top: -40px;
    @include flexStart();
    @include widthHeight(344px, auto);
    @media (min-width: 1510px) {
        margin: 0px;
        @include widthHeight(498px, 354px);
    }
}
.footer-sub-basic {
    margin-bottom: 15px;
    form {
        border-bottom: 1px $white solid; 
        @include widthHeight(344px, 30px);
        @include flexHead(space-between);
    }
    @media (min-width: 1510px) {
        margin: 0px;
        @include widthHeight(498px, 284px);
        form {
            @include widthHeight(488px, 33px);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border-bottom: none;
            margin: 0px 0px 3px 5px;
        }
    }
}
.footer-sub-head {
    @include widthHeight(205px, 25px);
    @include font(700, 18px, 25px);
    text-transform: capitalize;
    margin-bottom: 15px;
    @media (min-width: 1510px) {
        @include widthHeight(auto, 33px);
        @include font(700, 24px, 33px);
        margin-bottom: 80px;
    }
}
.footer-sub-text {
    @include widthHeight(345px, 66px);
    @include font(400, 14px, 22px);
    margin-bottom: 30px;
    @media (min-width: 1510px) {
        @include widthHeight(449px, 90px);
        @include font(400, 18px, 30px);
        margin-bottom: 44px;
    }
}
.foot-wr-let-email {
    @include widthHeight(233px, 30px);
    @include font(400, 14px, 46px);
    background: none;
    border: 0;
    color: $white;
    &::placeholder {
        color: $white;
    }
    @media (min-width: 1510px) {
        @include widthHeight(350px, 25px);
        @include font(400, 14px, 25px);
        padding: 0px;
        &::placeholder {
            color: $white;
        }
    }
}
.foot-wr-let-button {
    @include widthHeight(106px, 30px);
    @include font(700, 22px, 30px);
    border: 0;
    padding: 0px;
    margin-right: 5px;
    background: none;
    color: $white;
    &:hover {
        cursor: pointer;
    }
    @media (min-width: 1510px) {
        @include widthHeight(auto, 33px);
        @include font(700, 24px, 33px);
        margin: 0px;
    }
}
.footwl-line {
    display: none;
    @media (min-width: 1510px) {
        display: block;
        @include widthHeight(498px, 1px);
        background: $white;
    }
}
.links-for-network {
    @include widthHeight(340px, 30px);
    @include flexHead(flex-start);
    @media (min-width: 1510px) {
        @include widthHeight(250px, 40px);
        @include flexHead(space-between);
    }
    
}
.link-for-facebook, .link-for-twitter, .link-for-google, .link-for-in {
    @include widthHeight(30px, 30px);
    border-radius: 50%;
    border: 1px $white solid;
    background: none;
    margin-right: 20px;
    @include image();
    &:hover {
        background: $white;
        cursor: pointer;
    }
    @media (min-width: 1510px) {
        @include widthHeight(40px, 40px);
        margin: 0px;
    }
}
.link-for-facebook {
    background-image: url(../images/footer-facebook-white.png);
    &:hover {
        background-image: url(../images/footer-facebook-green.png);
        @include image();
    }
    @media (min-width: 1510px) {
        background-size: 30px 30px;
        &:hover {
            background-size: 30px 30px;
        }
    }
}
.link-for-twitter {
    background-image: url(../images/footer-twitter-white.png);
    
    &:hover {
        background-image: url(../images/footer-twitter-green.png);
        @include image();
    }
    @media (min-width: 1510px) {
        background-size: 30px 30px;
        &:hover {
            background-size: 30px 30px;
        }
    }
}
.link-for-google {
    background-image: url(../images/footer-google-white.png);
    &:hover {
        background-image: url(../images/footer-google-green.png);
        @include image();
    }
    @media (min-width: 1510px) {
        background-size: 30px 30px;
        &:hover {
            background-size: 30px 30px;
        }
    }
}
.link-for-in {
    background-image: url(../images/footer-in-white.png);
    &:hover {
        background-image: url(../images/footer-in-green.png);
        @include image();
    }
    @media (min-width: 1510px) {
        background-size: 30px 30px;
        &:hover {
            background-size: 30px 30px;
        }
    }
}

.contacts {
    margin-top: 40px;
    @include flexStart();
    @include widthHeight(345px, 126px);
    @media (min-width: 1510px) {
        margin: 0px;
        @include widthHeight(208px, 354px);
        padding-bottom: 54px;
        .foot-contact-address, .fcphone, .foot-contact-email {
            @include font(400, 18px, 30px);
        }
        .foot-contact-address {
            @include widthHeight(208px, 60px);
            margin-bottom: 20px;
        }
        .foot-contact-phone {
            display: none;
        }
        .fcphones {
            display: block;
            margin-bottom: 20px;
            @include widthHeight(auto, 57px);
            .fcphone {
                @include widthHeight(auto, 30px);
            }
        }
        .foot-contact-email {
            @include widthHeight(auto, 30px);
        }
    }
}
.foot-contact-head {
    @include font(700, 18px, 25px);
    margin-bottom: 15px;
    @media (min-width: 1510px) {
        @include widthHeight(auto, 33px);
        @include font(700, 24px, 33px);
        margin-bottom: 80px;
    }
}
.foot-contact-address, .foot-contact-phone, .foot-contact-email {
    @include font(400, 14px, 22px);
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.fcphones {
    display: none;
}

.useful-links {
    @include widthHeight(345px, 158px);
    @include flexStart();
    margin-top: 40px;
}
.foot-ul-head {
    @include font(700, 18px, 25px);
    margin-bottom: 15px;
    text-transform: capitalize;
}
.foot-ul-table {
    @include widthHeight(260px, 118px);
    @include flexHead(space-between);
}
.foot-ul-line-1 {
    @include widthHeight(76px, 118px);
    @include flexStart();
    margin-right: 99px;
}
.foot-ul-line-2 {
    @include widthHeight(85px, 118px);
    @include flexStart();
}
.foot-ul-item {
    @include font(400, 14px, 22px);
    @include flexHead(space-between);
    &:before{
        @include beforeAfter();
        @include widthHeight(6px, 10px);
        background-image: url(../images/footer-ul-arrow.png);
        @include image();
        margin-right: 10px;
    }
}
.popular-services {
    @include widthHeight(345px, 158px);
    @include flexStart();
    margin-top: 40px;
}
.foot-ps-head {
    @include widthHeight(141px, 25px);
    @include font(700, 18px, 25px);
    text-transform: capitalize;
    margin-bottom: 15px;
}
.foot-ps-item {
    text-transform: capitalize;
    @include font(400, 14px, 22px);
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0px;
    }
}
.footer-separator {
    margin-top: 40px;
    @include widthHeight(345px, 1px);
    background: $white;
}
.footer-text {
    @include widthHeight(286px, 32px);
    @include font(400, 12px, 16px);
    text-align: center;
    margin-top: 15px;
}
.footer-bottom {
    margin-top: 20px;
    @include widthHeight(285px, 19px);
    @include flexHead(space-between);
    margin-bottom: 24px;
}
.foot-bot-priv-pol, .foot-bot-sitemap, .foot-bot-terms-of-use {
    @include font(600, 14px, 19px);
}
.foot-bot-priv-pol {
    @include widthHeight(88px, 19px);
}
.foot-bot-sitemap {
    @include widthHeight(53px, 19px);
}
.foot-bot-terms-of-use {
    @include widthHeight(84px, 19px);
}