.header {
    width: 100%;
}

.header-top {
    height: 55px;
    @include flex(space-between);
    align-items: center;
    background-color: $edge;
    padding: 0px 20px;
}
.header-logo-links {
    @include flex(space-between);
    width: 100px;
    height: 20px;
}
.header-mail, .header-call, .header-location {
    @include image();
    width: 20px;
}
.header-mail {
    background-image: url(../images/header-mail.png);
}
.header-call {
    background-image: url(../images/header-call.png);
}
.header-location {
    background-image: url(../images/header-location.png);
}
.choice-language {
    @include flex(flex-start);
    align-items: center;
    color: $white;
    @include font(normal, 400, 12px);
    &:after {
        content: "";
        display: block;
        padding-left: 5px;
        @include widthHeight(7px, 4px);
        background-image: url(../images/header-arrow.png);
        @include image();
    }
}

.header-middle {
    @include widthHeight(100%, 70px);
    @include flex(space-between);
    align-items: center;
    padding: 0px 15px;
    background-color: $white;
}
.header-logo {
    @include widthHeight(90px, 40px);
}
.button-links {
    @include flex(space-between);
    @include widthHeight(110px, 34px);
}
.call-us {
    background-image: url(../images/call-us-green.png);
    @include image();
    @include widthHeight(40px, 34px);
    border: 1px $prime solid;
    border-radius: 10px;
    background-color: $white;
    &:hover {
        background-image: url(../images/call-us-white.png);
        @include image();
        background-color: $prime;
        cursor: pointer;
    }
}
.menu-list {
    background-image: url(../images/header-menu-list.png);
    @include image();
    @include widthHeight(30px, 30px);
    &:hover {
        cursor: pointer;
    }
}