// services section

.services, .about-us, .why-choose-us {
    @include flexBuild(center);
    padding-top: 50px;
    @media (min-width: 1510px) {
        @include flexBrick(space-between);
        padding-top: 100px;
    }
}
.service-head {
    @include font(700, 28px, 38px);
    @include widthHeight(267px, 38px);
    color: $black;
    text-transform: capitalize;
    margin-bottom: 15px;
    span {
        color: $prime;
    }
    @media (min-width: 1510px) {
        @include widthHeight(440px, 61px);
        @include font(800, 45px, 61px);
        text-align: center;
        margin-bottom: 30px;
    }
}
.service-text {
    @include widthHeight(344px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
    margin-bottom: 30px;
    @media (min-width: 1510px) {
        @include widthHeight(1136px, 60px);
        @include font(400, 18px, 30px);
        margin-bottom: 50px;
    }
}
.service-8-sentences {
    @include flexBrick(space-between);
    @include widthHeight(345px, 1068px);
    @media (min-width: 1510px) {
        @include widthHeight(1410px, 762px);
    }
}
.service-sentence-line {
    @include widthHeight(345px, 524px);
    @include flexBrick(space-between);
    @media (min-width: 1510px) {
        @include widthHeight(1410px, 366px);
        @include flexHead(space-between);
        flex-direction: row;
    }
}
.serv-sentence {
    @include widthHeight(345px, 116px);
    padding: 20px;
    background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    @include flexHead(space-between);
    @media (min-width: 1510px) {
        @include widthHeight(330px, 366px);
        padding: 60px 0px;
        @include flexBrick(space-between);
        .sl-1 {
            background-image: url(../images/destop/dmain-service-1-green.png);
        }
        .sl-2 {
            background-image: url(../images/destop/dmain-service-2-green.png);
        }
        .sl-3 {
            background-image: url(../images/destop/dmain-service-3-green.png);
        }
        .sl-4 {
            background-image: url(../images/destop/dmain-service-4-green.png);
        }
        .sl-5 {
            background-image: url(../images/destop/dmain-service-5-green.png);
        }
        .sl-6 {
            background-image: url(../images/destop/dmain-service-6-green.png);
        }
        .sl-7 {
            background-image: url(../images/destop/dmain-service-7-green.png);
        }
        .sl-8 {
            background-image: url(../images/destop/dmain-service-8-green.png);
        }
        &:hover {
            cursor: pointer;
            background: $prime;
            .sentence-head, .dsentence-text {
                color: $white;
            }
            .sl-1 {
                background-image: url(../images/destop/dmain-service-1-white.png);
            }
            .sl-2 {
                background-image: url(../images/destop/dmain-service-2-white.png);
            }
            .sl-3 {
                background-image: url(../images/destop/dmain-service-3-white.png);
            }
            .sl-4 {
                background-image: url(../images/destop/dmain-service-4-white.png);
            }
            .sl-5 {
                background-image: url(../images/destop/dmain-service-5-white.png);
            }
            .sl-6 {
                background-image: url(../images/destop/dmain-service-6-white.png);
            }
            .sl-7 {
                background-image: url(../images/destop/dmain-service-7-white.png);
            }
            .sl-8 {
                background-image: url(../images/destop/dmain-service-8-white.png);
            }
        }
    }
}
.sentence-logo {
    @include widthHeight(50px, 50px);
    @media (min-width: 1510px) {
        img {
            display: none;
        }
        @include widthHeight(70px, 70px);
        @include image();
    }
}
.sentence-texts {
    @include widthHeight(235px, 76px);
    @include flexStart();
    @media (min-width: 1510px) {
        @include widthHeight(245px, 127px);
        @include flexBrick(space-between);
    }
}
.sentence-head {
    @include widthHeight(auto, 22px);
    @include font(700, 16px, 22px);
    text-align: center;
    text-transform: capitalize;
    @media (min-width: 1510px) {
        @include widthHeight(243px, 33px);
        @include font(700, 24px, 33px);
        color: $black;
    }
}
.sentence-text {
    @include widthHeight(235px, 44px);
    @include font(400, 14px, 22px);
    color: $dark-grey;
    @media (min-width: 1510px) {
        display: none;
    }
}
.dsentence-text {
    display: none;
    @media (min-width: 1510px) {
        display: block;
        @include widthHeight(245px, 84px);
        @include fontP(400, 16px, 28px);
        text-align: center;
        color: $dark-grey;
    }
}

// about us section
.about-us {
    @media (min-width: 1510px) {
        padding-bottom: 100px;
    }
}
.about-us-content {
    @media (min-width: 1510px) {
        @include flexHead(space-between);
        @include widthHeight(1410px, 903px);
    }
}
.au-photo {
    display: block;
    @media (min-width: 1510px) {
        img {
            display: none;
        }
        @include widthHeight(693px, 903px);
        @include image();
        background-image: url(../images/destop/dheader-au-photo.png);
    }
}
.au-content {
    @include flexBrick(center);
    padding-top: 30px;
    @include widthHeight(345px, auto);
    @media (min-width: 1510px) {
        @include flexStart();
        @include widthHeight(690px, 806px);
        padding: 0px;
    }
}
.au-content-head {
    @include widthHeight(345px, 76px);
    @include font(700, 28px, 38px);
    color: $black;
    margin-bottom: 15px;
    span {
        color: $prime;
    }
    @media (min-width: 1510px) {
        @include widthHeight(574px, 122px);
        @include font(800, 45px, 61px);
        margin-bottom: 0px;
        span {
            color: $prime;
        }
    }
}
.au-content-text {
    @include widthHeight(345px, 330px);
    @include font(400, 14px, 22px);
    color: $dark-grey;
    margin-bottom: 40px;
    @media (min-width: 1510px) {
        @include widthHeight(672px, 280px);
        @include fontP(400, 16px, 28px);
        margin: 0px;
    }
}
.au-cards {
    @include flexBrick(space-between);
    @include widthHeight(344px, 208px);
    margin-bottom: 30px;
    @media (min-width: 1510px) {
        margin: 0px;
        @include widthHeight(690px, 224px);
    }
}
.au-cards-line {
    @include flexHead(space-between);
    @include widthHeight(344px, 94px);
    margin-bottom: 20px;
    @media (min-width: 1510px) {
        @include widthHeight(690px, 97px);
        margin-bottom: 0px;
    }
}
.au-card {
    @include flexBrick(space-between);
    padding: 15px;
    @include widthHeight(162px, 94px);
    background: $white;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    @media (min-width: 1510px) {
        @include widthHeight(330px, 97px);
        @include flexHead(space-between);
        flex-direction: row;
        padding: 15px 30px;
        box-shadow: none;
        border-radius: 0px;
        .acl-1 {
            background-image: url(../images/destop/dmain-au-card-1.png);
        }
        .acl-2 {
            background-image: url(../images/destop/dmain-au-card-2.png);
        }
        .acl-3 {
            background-image: url(../images/destop/dmain-au-card-3.png);
        }
        .acl-4 {
            background-image: url(../images/destop/dmain-au-card-4.png);
        }
    }
}
.au-card-logo {
    @media (min-width: 1510px) {
        img {
            display: none;
        }
        @include widthHeight(67px, 67px);
        @include image();
    }
}
.au-card-text {
    @include widthHeight(132px, 19px);
    @include font(700, 14px, 19px);
    text-align: center;
    text-transform: capitalize;
    color: $black;
    @media (min-width: 1510px) {
        @include widthHeight(173px, 33px);
        @include font(700, 24px, 33px);
        text-align: start;
    }
}
.discover-more {
    @include widthHeight(167px, 40px);
    @include font(700, 16px, 36px);
    text-align: center;
    border: 1px $prime solid;
    border-radius: 5px;
    background: $prime;
    color: $white;
    &:hover {
        background-color: $white;
        color: $prime;
        cursor: pointer;
    }
    @media (min-width: 1510px) {
        @include widthHeight(190px, 50px);
        @include flexHead(center);
        background: $white;
        color: $prime;
        padding: 0px;
        @include font(700, 18px, 50px);
        &:hover {
            background: $prime;
            color: $white;
            cursor: pointer;
        }
    }
}

// why choose us section

.why-choose-us {
    margin-top: 50px;
    background: $edge;
    @include widthHeight(100%, 694px);
    color: $white;
    padding-bottom: 50px;
    @media (min-width: 1510px) {
        margin: 0px;
        @include widthHeight(100%, 655px);
        padding-bottom: 112px;
    }
}
.why-choose-us-content {
    @media (min-width: 1510px) {
        @include widthHeight(1410px, 455px);
        @include flexHead(space-between);
        flex-direction: row-reverse;
    }
}
.wcu-photo {
    @include widthHeight(345px, 217px);
    @media (min-width: 1510px) {
        img {
            display: none;
        }
        @include widthHeight(672px, 426px);
        @include image();
        background-image: url(../images/destop/dmain-wcu-photo.png);
    }
    
}
.wcu-content {
    @include flexBrick(space-between);
    @include widthHeight(345px, 337px);
    margin-top: 30px;
    @media (min-width: 1510px) {
        @include widthHeight(756px, 455px);
        @include flexStart();
        margin: 0px;
    }
}
.wcu-content-head {
    @include widthHeight(auto, 38px);
    @include font(700, 28px, 38px);
    text-transform: capitalize;
    @media (min-width: 1510px) {
        @include widthHeight(337px, 61px);
        @include font(700, 45px, 61px);
        margin-bottom: 30px;
    }
}
.wcu-content-text {
    @include widthHeight(345px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
    @media (min-width: 1510px) {
        @include widthHeight(656px, 120px);
        @include font(400, 18px, 30px);
        text-align: start;
        margin-bottom: 50px;
    }
}
.wcu-difference {
    @include flexBrick(space-between);
    @include widthHeight(345px, 64px);
    @media (min-width: 1510px) {
        @include widthHeight(600px, 86px);
        @include flexStart();
        margin-bottom: 50px;
    }
}
.wcu-difference-line {
    @include flexHead(space-between);
    @include widthHeight(345px, 22px);
    @media (min-width: 1510px) {
        &:first-child {
            @include widthHeight(570px, 33px);
        }
        &:last-child {
            @include widthHeight(600px, 33px);
        }
        .wcu-dp-2m, .wcu-dp-3m, .wcu-dp-4m {
            display: none;
        }
        .wcu-dp-1 {
            @include widthHeight(242px, 33px);
            @include flexHead(center);
        }
        .wcu-dp-2d {
            @include widthHeight(210px, 33px);
            @include flexHead(center);
        }
        .wcu-dp-3d {
            @include widthHeight(217px, 33px);
            @include flexHead(center);
        }
        .wcu-dp-4d {
            @include widthHeight(240px, 33px);
            @include flexHead(center);
        }
    }
}
.wcu-diff-pick {
    @include widthHeight(158px, 22px);
    @include font(700, 16px, 22px);
    text-transform: capitalize;
    @include flexHead(space-between);
    &::before {
        @include beforeAfter();
        @include widthHeight(20px, 20px);
        background-color: $white;
        border-radius: 50%;
        @include image();
        background-image: url(../images/main-wcu-tick.png);
    }
    @media (min-width: 1510px) {
        @include widthHeight(auto, 33px);
        @include font(700, 24px, 33px);
        text-align: center;
        &::before {
            @include beforeAfter();
            @include widthHeight(30px, 30px);
            @include image();
            background-image: url(../images/destop/dmain-wcu-tick.png);
            background-color: $white;
            border-radius: 50%;
            margin-right: 20px;
        }
    }
}
.wcu-dp-2d, .wcu-dp-3d, .wcu-dp-4d {
    display: none;
}

// Working process section

.working-process {
    padding-top: 50px;
    @include flexBuild(center);
    @media (min-width: 1510px) {
        @include flexBrick(center);
        padding-top: 100px;
    }
}
.working-process-content {
    @media (min-width: 1510px) {
        @include flexBrick(space-between);
    }
}
.wp-text {
    @include widthHeight(345px, 163px);
    @include flexBrick(space-between);
    margin-bottom: 30px;
    @media (min-width: 1510px) {
        @include widthHeight(1136px, 141px);
        margin-bottom: 50px;
    }
}
.wp-text-head {
    @include widthHeight(auto, 38px);
    @include font(700, 28px, 38px);
    color: $black;
    text-transform: capitalize;
    span {
        color: $prime;
    }
    @media (min-width: 1510px) {
        @include widthHeight(auto, 61px);
        @include font(800, 45px, 61px);
        span {
            color: $prime;
        }
    }
}
.wp-text-basic {
    @include widthHeight(345px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
    @media (min-width: 1510px) {
        @include widthHeight(1136px, 60px);
        @include font(400, 18px, 30px);
    }
}
.wp-4-cards {
    @include flexBrick(space-between);
    @include widthHeight(345px, 892px);
    @media (min-width: 1510px) {
        @include flexHead(space-between);
        flex-direction: row;
        @include widthHeight(1410px, 408px);
    }
}
.wp-card {
    @include flexBrick(space-between);
    @include widthHeight(345px, 208px);
    padding: 20px;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    @media (min-width: 1510px) {
        @include widthHeight(330px, 408px);
        padding: 0px;
        @include flexBrick(center);
        &:hover {
            background-color: $prime;
            box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.15);
            .wcl-1 {
                background-image: url(../images/destop/dmain-wp-card1-white.png);
            }
            .wcl-2 {
                background-image: url(../images/destop/dmain-wp-card2-white.png);
            }
            .wcl-3 {
                background-image: url(../images/destop/dmain-wp-card3-white.png);
            }
            .wcl-4 {
                background-image: url(../images/destop/dmain-wp-card4-white.png);
            }
            .wp-card-number, .wp-card-head, .wp-card-basic {
                color: $white;
            }
        }
    }
}
.wp-card-logo-and-number {
    @include flexHead(space-between);
    @include widthHeight(305px, 50px);
    @media (min-width: 1510px) {
        @include widthHeight(270px, 80px);
        margin-bottom: 35px;
        .wp-card-logo {
            img {
                display: none;
            }
            @include widthHeight(70px, 70px);
            @include image();
        }
        .wcl-1 {
            background-image: url(../images/destop/dmain-wp-card1-green.png);
        }
        .wcl-2 {
            background-image: url(../images/destop/dmain-wp-card2-green.png);
        }
        .wcl-3 {
            background-image: url(../images/destop/dmain-wp-card3-green.png);
        }
        .wcl-4 {
            background-image: url(../images/destop/dmain-wp-card4-green.png);
        }
    }
}
.wp-card-number {
    @include font(800, 45px, 50px);
    color: $grey;
    padding-right: 10px;
    @media (min-width: 1510px) {
        @include font(800, 78px, 80px);
        padding: 0px;
    }
}
.wp-card-text {
    @include widthHeight(305px, 98px);
    @include flexBrick(space-between);
    @media (min-width: 1510px) {
        @include widthHeight(270px, 173px);
    }
}
.wp-card-head {
    @include widthHeight(305px, 22px);
    @include font(700, 16px, 22px);
    text-transform: capitalize;
    color: $black;
    @media (min-width: 1510px) {
        @include widthHeight(270px, 33px);
        @include font(700, 24px, 33px);
    }
}
.wp-card-basic {
    @include widthHeight(305px, 66px);
    @include font(400, 14px, 22px);
    color: $dark-grey;
    @media (min-width: 1510px) {
        @include widthHeight(270px, 120px);
        @include font(400, 18px, 30px);
    }
}

// cta section
.main-cta {
    @include widthHeight(100%, 224px);
    padding: 0px 15px;
    margin-top: 55px;
    @media (min-width: 1510px) {
        @include widthHeight(100%, 247px);
        margin-top: 100px;
        @include flexHead(center);
        padding-left: 647px;
        padding-right: 60px;
        @include image();
        background-image: url(../images/destop/dmain-cta-photo.png);
    }
}
.cta-photo {
    background-image: url(../images/main-cta-photo.png);
    @include image();
    @include widthHeight(100%, 224px);
    @media (min-width: 1510px) {
        display: none;
    }
}
.cta-basic {
    position: relative;
    top: -174px;
    left: 50%;
    transform: translate(-50%, 0);

    @include widthHeight(272px, 124px);
    @include flexBrick(space-between);
    @media (min-width: 1510px) {
        position: static;
        transform: none;
        @include widthHeight(703px, 90px);
        @include flexHead(space-between);
        flex-direction: row;
    }
}
.cta-text {
    @include widthHeight(272px, 54px);
    @include font(700, 20px, 27px);
    text-align: center;
    color: $white;
    @media (min-width: 1510px) {
        @include widthHeight(448px, 90px);
        @include font(700, 33px, 45px);
        text-align: start;
    }
}
.cta-call-us {
    @include widthHeight(137px, 40px);
    color: $prime;
    text-transform: capitalize;
    background: $white;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    border: 0px;
    @include font(700, 14px, 40px);
    @include flexHead(center);
    &::before {
        @include beforeAfter();
        @include widthHeight(20px, 20px);
        @include image();
        background-image: url(../images/call-us-green.png);
        margin-right: 10px;
    }
    &:hover {
        background: $prime;
        color: $white;
        &::before {
            background-image: url(../images/call-us-white.png);
        }
    }
    @media (min-width: 1510px) {
        @include widthHeight(170px, 50px);
        @include flexHead(center);
        @include font(700, 18px, 50px);
        box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);
        background: $white;
        color: $prime;
        &::before {
            @include widthHeight(30px, 30px);
            @include beforeAfter();
            @include image();
            background-image: url(../images/destop/dmain-cu-green.png);
            margin-right: 10px;
        }
        &:hover {
            background: $prime;
            color: $white;
            &::before{
                background-image: url(../images/destop/dmain-cu-white.png);
            }
        }
    }
}
