.main {
    @include flexBuild(center);
}

// services section

.services, .about-us, .your-team, .main-content {
    @include flexBuild(center);
    padding-top: 50px;
}
.service-head {
    @include font(700, 28px, 38px);
    @include widthHeight(267px, 38px);
    color: $black;
    text-transform: capitalize;
    margin-bottom: 15px;
    span {
        color: $prime;
    }
}
.service-text {
    @include widthHeight(344px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
    margin-bottom: 30px;
}
.service-8-sentences {
    @include flexBrick(space-between);
    @include widthHeight(345px, 1068px);
}
.serv-sentence {
    @include widthHeight(345px, 116px);
    padding: 20px;
    background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    @include flexHead(space-between);
}
.sentence-logo {
    @include widthHeight(50px, 50px);
}
.sentence-texts {
    @include widthHeight(235px, 76px);
    @include flex(space-between);
    flex-direction: column;
    align-items: flex-start;
}
.sentence-head {
    @include widthHeight(auto, 22px);
    @include font(700, 16px, 22px);
    text-align: center;
    text-transform: capitalize; 
}
.sentence-text {
    @include widthHeight(235px, 44px);
    @include font(400, 14px, 22px);
    color: $dark-grey;
}

// about us section
.au-content {
    @include flexBrick(center);
    padding-top: 30px;
    margin-bottom: 40px;
    @include widthHeight(345px, 421px);
}
.au-content-head {
    @include widthHeight(345px, 76px);
    @include font(700, 28px, 38px);
    color: $black;
    margin-bottom: 15px;
    span {
        color: $prime;
    }
}
.au-content-text {
    @include widthHeight(345px, 330px);
    @include font(400, 14px, 22px);
    color: $dark-grey;
}
.au-cards {
    @include flexBrick(space-between);
    @include widthHeight(344px, 208px);
    margin-bottom: 30px;
}
.au-cards-line {
    @include flexHead(space-between);
    @include widthHeight(344px, 94px);
    margin-bottom: 20px;
}
.au-card {
    @include flexBrick(space-between);
    padding: 15px;
    @include widthHeight(162px, 94px);
    background: $white;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
}
.au-card-text {
    @include widthHeight(132px, 19px);
    @include font(700, 14px, 19px);
    text-align: center;
    text-transform: capitalize;
    color: $black;
}
.discover-more {
    @include widthHeight(167px, 40px);
    @include font(700, 16px, 40px);
    text-align: center;
    border: 1px $prime solid;
    border-radius: 5px;
    background-color: $prime;
    color: $white;
    &:hover {
        background-color: $white;
        color: $prime;
        cursor: pointer;
    }
}

// why choose us section

.why-choose-us {
    margin-top: 50px;
    background-color: $edge;
    padding: 50px 15px;
    @include flexBrick(space-between);
    @include widthHeight(375px, 694px);
    color: $white;
}
.wcu-photo {
    @include widthHeight(345px, 217px);
}
.wcu-content {
    @include flexBrick(space-between);
    @include widthHeight(345px, 163px);
}
.wcu-content-head {
    @include widthHeight(210px, 38px);
    @include font(700, 28px, 38px);
    text-transform: capitalize;
}
.wcu-content-text {
    @include widthHeight(345px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
}
.wcu-difference {
    @include flexBrick(space-between);
    @include widthHeight(345px, 64px);
}
.wcu-difference-line {
    @include flexHead(space-between);
    @include widthHeight(345px, 22px);
}
.wcu-diff-pick {
    @include widthHeight(158px, 22px);
    @include font(700, 16px, 22px);
    text-transform: capitalize;
    @include flexHead(space-between);
    &::before {
        @include beforeAfter();
        @include widthHeight(20px, 20px);
        background-color: $white;
        border-radius: 50%;
        @include image();
        background-image: url(../images/main-wcu-tick.png);
    }
}

// Working process section

.working-process {
    padding-top: 50px;
    @include flexBuild(center);
}
.wp-text {
    @include widthHeight(345px, 163px);
    @include flexBrick(space-between);
    margin-bottom: 30px;
}
.wp-text-head {
    @include widthHeight(220px, 38px);
    @include font(700, 28px, 38px);
    color: $black;
    text-transform: capitalize;
    span {
        color: $prime;
    }
}
.wp-text-basic {
    @include widthHeight(345px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
}
.wp-4-cards {
    @include flexBrick(space-between);
    @include widthHeight(345px, 892px);
}
.wp-card {
    @include flexBrick(space-between);
    @include widthHeight(345px, 208px);
    padding: 20px;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
}
.wp-card-logo-and-number {
    @include flexHead(space-between);
    @include widthHeight(305px, 50px);
}
.wp-card-number {
    @include font(800, 45px, 50px);
    color: $grey;
    padding-right: 10px;
}
.wp-card-text {
    @include widthHeight(305px, 98px);
    @include flexBrick(space-between);
}
.wp-card-head {
    @include widthHeight(305px, 22px);
    @include font(700, 16px, 22px);
    text-transform: capitalize;
    color: $black;
}
.wp-card-basic {
    @include widthHeight(305px, 66px);
    @include font(400, 14px, 22px);
    color: $dark-grey;
}

// cta section
.main-cta {
    @include widthHeight(375px, 224px);
    padding: 0px 15px;
    margin-top: 55px;
}
.cta-photo {
    background-image: url(../images/main-cta-photo.png);
    @include image();
    @include widthHeight(345px, 224px);
}
.cta-basic {
    position: relative;
    top: -174px;
    left: 50%;
    transform: translate(-50%, 0);

    @include widthHeight(272px, 124px);
    @include flexBrick(space-between);
}
.cta-text {
    @include widthHeight(272px, 54px);
    @include font(700, 20px, 27px);
    text-align: center;
    color: $white;
}
.cta-call-us {
    @include widthHeight(137px, 40px);
    color: $prime;
    text-transform: capitalize;
    background: $white;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
    border: 0px;
    @include font(700, 14px, 40px);
    @include flexHead(center);
    &::before {
        @include beforeAfter();
        @include widthHeight(20px, 20px);
        @include image();
        background-image: url(../images/call-us-green.png);
        margin-right: 10px;
    }
    &:hover {
        background: $prime;
        color: $white;
        &::before {
            background-image: url(../images/call-us-white.png);
        }
    }
}

// your team section
.your-team {
    @include widthHeight(375px, auto);
}
.yt-texts {
    @include widthHeight(345px, 233px);
    @include flexBrick(space-between);
    // margin-bottom: 40px;
}
.yt-head {
    @include widthHeight(225px, 38px);
    @include font(700, 28px, 38px);
    text-align: center;
    color: black;
    text-transform: capitalize;
    margin-bottom: 15px;
    span {
        color: $prime;
    }
}
.yt-basic {
    @include widthHeight(345px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
    margin-bottom: 30px;
}
.yt-slider {
    @include flexBrick(space-between);
    margin-top: 93px;
}
.yt-card {
    @include widthHeight(345px, 343px);
    @include flexBrick(center);
    // margin-bottom: 30px;
}
.yt-card-text {
    @include widthHeight(345px, 62px);
    @include flexBrick(center);
    background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
    border-radius: 5px;
    color: $white;
    margin-top: 40px;
    position: relative;
    top: -108px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.yt-card-name {
    @include font(700, 18px, 25px);
    @include widthHeight(105px, 25px);
    text-transform: capitalize;
}
.yt-card-post {
    @include font(400, 14px, 22px);
    @include widthHeight(90px, 22px);
    text-transform: capitalize;
}
.yt-slider-lines {
    @include widthHeight(178px, 6px);
    @include flexHead(space-between);
    margin-top: -24px;
}
.yt-slider-small-line {
    @include widthHeight(20px, 6px);
    background: $prime;
    border-radius: 8px;
}
.yt-slider-big-line {
    @include widthHeight(50px, 6px);
    background: $prime;
    border-radius: 8px;
}

// clienys saying section
.clients-saying {
    @include flexBuild(center);
    @include widthHeight(375px, 687px);
    padding-top: 50px;
    margin-top: 50px;
    background-image: url(../images/main-cs-background.png);
    background-repeat: no-repeat;
    background-position: top;
}
.cs-text {
    @include widthHeight(345px, 163px);
    @include flexBrick(space-between);
}
.cs-text-head {
    @include widthHeight(270px, 38px);
    @include font(700, 28px, 38px);
    color: black;
    text-transform: capitalize;
    span {
        color: $prime;
    }
}
.cs-text-basic {
    @include widthHeight(345px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
}
.cs-review {
    @include widthHeight(345px, 431px);
    @include flexBrick(space-between);
    align-items: flex-start;
    padding: 20px;
    background: $white;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}
.cs-rev-photo {
    margin-bottom: 30px;
}
.cs-rev-text {
    @include widthHeight(305px, 123px);
    @include font(400, 14px, 22px);
    color: $dark-grey;
    padding-top: 13.76px;
    margin-bottom: 15px;
    background-image: url(../images/main-review-qoutes.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.cs-rev-info {
    @include widthHeight(305px, 40px);
    @include flexHead(space-between);
}
.cs-rev-info-text {
    @include flexBrick(space-between);
    align-items: flex-start;
    @include widthHeight(81px, 40px);
}
.cs-rev-info-name {
    @include widthHeight(81px, 22px);
    @include font(700, 16px, 22px);
    text-transform: capitalize;
    color: $black;
}
.cs-rev-info-post {
    @include widthHeight(48px, 16px);
    @include font(400, 12px, 16px);
    color: $dark-grey;
}

// content section
.main-content {
    @include widthHeight(375px, auto);
}
.mcon-text {
    @include flexBrick(space-between);
    @include widthHeight(345px, 201px);
    margin-bottom: 42px;
}
.mcon-text-head {
    @include widthHeight(220px, 76px);
    @include font(700, 28px, 38px);
    text-align: center;
    text-transform: capitalize;
    color: $black;
    span {
        color: $prime;
    }
}
.mcon-text-basic {
    @include widthHeight(345px, 110px);
    @include font(400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
}
.mcon-questions-answers {
    @include flexBrick(space-between);
    @include widthHeight(345px, 562px);
}
.mcon-question {
    @include flex(space-between);
    @include widthHeight(345px, 44px);
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    background: $coral;
    &:first-child {
        background: $prime;
        .mcon-question-text {
            color: $white;
        }
    }
    &:last-child {
        margin-bottom: 0px;
    }
}
.mcon-question-text {
    @include widthHeight(285px, 19px);
    @include font(600, 14px, 19px);
    color: $black;
}
.mcon-question-minus, .mcon-question-plus {
    &:hover {
        cursor: pointer;
    }
}
.mcon-answer {
    @include widthHeight(313px, 242px);
    @include font(400, 14px, 22px);
    color: $dark-grey;
    margin-bottom: 20px;
}