// services section

.services, .about-us {
    @include flex(center);
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.service-head {
    @include font(normal, 700, 28px, 38px);
    @include widthHeight(267px, 38px);
    color: $black;
    text-transform: capitalize;
    margin-bottom: 15px;
    span {
        color: $prime;
    }
}
.service-text {
    @include widthHeight(344px, 110px);
    @include font(normal, 400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
    margin-bottom: 30px;
}
.serv-sentence {
    @include widthHeight(345px, 116px);
    padding: 20px;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0px;
    }
    background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
    @include flex(space-between);
    align-items: center;
}
.sentence-logo {
    @include widthHeight(50px, 50px);
}
.sentence-texts {
    @include widthHeight(235px, 76px);
    @include flex(space-between);
    flex-direction: column;
    align-items: flex-start;
}
.sentence-head {
    @include widthHeight(auto, 22px);
    @include font(normal, 700, 16px, 22px);
    text-align: center;
    text-transform: capitalize; 
}
.sentence-text {
    @include widthHeight(235px, 44px);
    @include font(normal, 400, 14px, 22px);
    color: $dark-grey;
}

// about us section

.au-content {
    @include flex(center);
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    @include widthHeight(345px, 421px);
}
.au-content-head {
    @include widthHeight(345px, 76px);
    @include font(normal, 700, 28px, 38px);
    color: $black;
    margin-bottom: 15px;
    span {
        color: $prime;
    }
}
.au-content-text {
    @include widthHeight(345px, 330px);
    @include font(normal, 400, 14px, 22px);
    color: $dark-grey;
}
.au-cards {
    padding-top: 40px;
    @include flex(space-between);
    flex-direction: column;
    align-items: flex-start;
    @include widthHeight(344px, auto);
}
.au-cards-line {
    @include flex(space-between);
    flex-direction: row;
    align-items: flex-start;
    @include widthHeight(344px, 94px);
    margin-bottom: 20px;
}
.au-card {
    @include flex(space-between);
    flex-direction: column;
    align-items: center;
    padding: 15px;
    @include widthHeight(162px, 94px);
    background: $white;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 5px;
}
.au-card-text {
    @include widthHeight(132px, 19px);
    @include font(normal, 700, 14px, 19px);
    text-align: center;
    text-transform: capitalize;
    color: $black;
}
.discover-more {
    @include widthHeight(167px, 40px);
    @include font(normal, 700, 16px, 40px);
    text-align: center;
    border: 1px $prime solid;
    border-radius: 5px;
    background-color: $prime;
    color: $white;
    &:hover {
        background-color: $white;
        color: $prime;
        cursor: pointer;
    }
}

// why choose us section

.why-choose-us {
    margin-top: 50px;
    background-color: $edge;
    padding: 50px 15px;
    @include flex(space-between);
    flex-direction: column;
    align-items: center;
    @include widthHeight(375px, 694px);
    color: $white;
}
.wcu-photo {
    @include widthHeight(345px, 217px);
}
.wcu-content {
    @include flex(space-between);
    flex-direction: column;
    align-items: center;
    @include widthHeight(345px, 163px);
}
.wcu-content-head {
    @include widthHeight(210px, 38px);
    @include font(normal, 700, 28px, 38px);
    text-transform: capitalize;
}
.wcu-content-text {
    @include widthHeight(345px, 110px);
    @include font(normal, 400, 14px, 22px);
    text-align: center;
}
.wcu-difference {
    @include flex(space-between);
    flex-direction: column;
    align-items: center;
    @include widthHeight(345px, 64px);
}
.wcu-difference-line {
    @include flex(space-between);
    align-items: center;
    @include widthHeight(345px, 22px);
}
.wcu-diff-pick {
    @include widthHeight(158px, 22px);
    @include font(normal, 700, 16px, 22px);
    text-transform: capitalize;
    @include flex(space-between);
    &::before {
        @include beforeAfter();
        @include widthHeight(20px, 20px);
        background-color: $white;
        border-radius: 50%;
        @include image();
        background-image: url(../images/main-wcu-tick.png);
    }
}

// Working process section

.working-process {
    padding: 50px 15px 0px;
}
.wp-text {
    @include widthHeight(345px, 163px);
    @include flex(space-between);
    flex-direction: column;
    align-items: center;
}
.wp-text-head {
    @include widthHeight(220px, 38px);
    @include font(normal, 700, 28px, 38px);
    color: $black;
    text-transform: capitalize;
    span {
        color: $prime;
    }
}
.wp-text-basic {
    @include widthHeight(345px, 110px);
    @include font(normal, 400, 14px, 22px);
    text-align: center;
    color: $dark-grey;
}
.wp-4-cards {
    @include flex(space-between);
    flex-direction: column;
    align-items: flex-start;
    @include widthHeight(345px, 892px);
}
.wp-card {
    @include flex(space-between);
    flex-direction: column;
    @include widthHeight(345px, 208px);
    padding: 20px;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
    border-radius: 10px;
}
.wp-card-logo-and-number {
    @include flex(space-between);
    @include widthHeight(305px, 50px);
}
.wp-card-number {
    @include font(normal, 800, 45px, 50px);
    color: $grey;
    padding-right: 10px;
}
.wp-card-text {
    @include widthHeight(305px, 98px);
    @include flex(space-between);
    flex-direction: column;
}
.wp-card-head {
    @include widthHeight(305px, 22px);
    @include font(normal, 700, 16px, 22px);
    text-transform: capitalize;
    color: $black;
}
.wp-card-basic {
    @include widthHeight(305px, 66px);
    @include font(normal, 400, 14px, 22px);
    color: $dark-grey;
}