* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Nunito", sans-serif;
  background: white;
}

.header {
  width: 100%;
  height: 831.16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.header-top {
  width: 375px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0C4B35;
  padding: 0px 20px;
}

.header-logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 20px;
}

.header-mail, .header-call, .header-location {
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.header-mail:hover, .header-call:hover, .header-location:hover {
  cursor: pointer;
}

.header-mail {
  background-image: url(../images/header-mail.png);
}

.header-call {
  background-image: url(../images/header-call.png);
}

.header-location {
  background-image: url(../images/header-location.png);
}

.choice-language {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 16px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.choice-language:after {
  content: "";
  display: block;
  padding-left: 5px;
  width: 7px;
  height: 4px;
  background-image: url(../images/header-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
}

.header-middle {
  width: 376px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 55px;
  left: calc(50% - 1px);
  transform: translate(-50%, 0);
  right: 0px;
}

.header-logo {
  width: 90px;
  height: 40px;
}

.button-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 34px;
  flex-wrap: wrap;
}

.call-us {
  background-image: url(../images/call-us-green.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 34px;
  border: 1px #00730C solid;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.call-us:hover {
  background-image: url(../images/call-us-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #00730C;
  cursor: pointer;
}

.menu-list {
  background-image: url(../images/header-menu-list.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.menu-list:hover {
  cursor: pointer;
}

.header-banner {
  width: 375px;
  height: 240px;
  text-align: center;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 375px;
  height: 706.17px;
}

.header-bottom-content {
  width: 375px;
  height: 466.17px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: normal;
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
  padding-top: 47.63px;
  padding-bottom: 35px;
}

.head-bottom-sub-head {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #212529;
  margin-bottom: 10px;
}
.head-bottom-sub-head::before {
  content: "";
  display: block;
  background-image: url(../images/header-bottom-plant.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 23.8px;
  height: 19.89px;
  margin-right: 5px;
}

.head-bottom-head {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  margin-bottom: 15px;
}
.head-bottom-head span {
  color: #00730C;
}

.head-bottom-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 40px;
}

.get-a-quate {
  padding: 12px 105px;
  width: 304px;
  height: 44px;
  background: #00730C;
  border-radius: 5px;
  border: 1px #00730C solid;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 19px;
}
.get-a-quate:hover {
  background: #FFFFFF;
  color: #00730C;
  cursor: pointer;
}

.see-work {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #00730C;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.see-work::after {
  content: "";
  display: block;
  background-image: url(../images/header-bottom-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 12.65px;
  margin-left: 12px;
}

.flower-head-left {
  position: relative;
  top: 0px;
  left: -10px;
  background-image: url(../images/flower-head-left.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 83px;
  height: 133px;
}

.two-buttons-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 32px;
  padding-left: 70px;
}

.first-button {
  width: 135px;
  height: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
}

.second-button {
  width: 128px;
  height: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
}

.first-button, .second-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: 32px;
  border: 0px;
}

.button-number {
  width: 29px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}

.button-first-text {
  width: 76px;
  height: 14px;
}

.button-second-text {
  width: 74px;
  height: 14px;
}

.button-first-text, .button-second-text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #212529;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.services, .about-us, .your-team {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

.service-head {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  width: 267px;
  height: 38px;
  color: #212529;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.service-head span {
  color: #00730C;
}

.service-text {
  width: 344px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 30px;
}

.service-8-sentences {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 1068px;
}

.serv-sentence {
  width: 345px;
  height: 116px;
  padding: 20px;
  background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sentence-logo {
  width: 50px;
  height: 50px;
}

.sentence-texts {
  width: 235px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.sentence-head {
  width: auto;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
}

.sentence-text {
  width: 235px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.au-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  margin-bottom: 40px;
  width: 345px;
  height: 421px;
}

.au-content-head {
  width: 345px;
  height: 76px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  margin-bottom: 15px;
}
.au-content-head span {
  color: #00730C;
}

.au-content-text {
  width: 345px;
  height: 330px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.au-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 344px;
  height: 208px;
  margin-bottom: 30px;
}

.au-cards-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 344px;
  height: 94px;
  margin-bottom: 20px;
}

.au-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 162px;
  height: 94px;
  background: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
}

.au-card-text {
  width: 132px;
  height: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #212529;
}

.discover-more {
  width: 167px;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border: 1px #00730C solid;
  border-radius: 5px;
  background-color: #00730C;
  color: #FFFFFF;
}
.discover-more:hover {
  background-color: #FFFFFF;
  color: #00730C;
  cursor: pointer;
}

.why-choose-us {
  margin-top: 50px;
  background-color: #0C4B35;
  padding: 50px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 375px;
  height: 694px;
  color: #FFFFFF;
}

.wcu-photo {
  width: 345px;
  height: 217px;
}

.wcu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 163px;
}

.wcu-content-head {
  width: 210px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
}

.wcu-content-text {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.wcu-difference {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 64px;
}

.wcu-difference-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 22px;
}

.wcu-diff-pick {
  width: 158px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wcu-diff-pick::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/main-wcu-tick.png);
}

.working-process {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.wp-text {
  width: 345px;
  height: 163px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.wp-text-head {
  width: 220px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-transform: capitalize;
}
.wp-text-head span {
  color: #00730C;
}

.wp-text-basic {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
}

.wp-4-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 892px;
}

.wp-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 208px;
  padding: 20px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
}

.wp-card-logo-and-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 305px;
  height: 50px;
}

.wp-card-number {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 50px;
  color: #E3E3E3;
  padding-right: 10px;
}

.wp-card-text {
  width: 305px;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.wp-card-head {
  width: 305px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #212529;
}

.wp-card-basic {
  width: 305px;
  height: 66px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.main-cta {
  width: 375px;
  height: 224px;
  padding: 0px 15px;
  margin-top: 55px;
}

.cta-photo {
  background-image: url(../images/main-cta-photo.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 345px;
  height: 224px;
}

.cta-basic {
  position: relative;
  top: -174px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 272px;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cta-text {
  width: 272px;
  height: 54px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.cta-call-us {
  width: 137px;
  height: 40px;
  color: #00730C;
  text-transform: capitalize;
  background: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  border: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-call-us::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/call-us-green.png);
  margin-right: 10px;
}
.cta-call-us:hover {
  background: #00730C;
  color: #FFFFFF;
}
.cta-call-us:hover::before {
  background-image: url(../images/call-us-white.png);
}

.your-team {
  width: 375px;
  height: auto;
}

.yt-texts {
  width: 345px;
  height: 233px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.yt-head {
  width: 225px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: black;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.yt-head span {
  color: #00730C;
}

.yt-basic {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 30px;
}

.yt-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 93px;
}

.yt-card {
  width: 345px;
  height: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.yt-card-text {
  width: 345px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
  border-radius: 5px;
  color: #FFFFFF;
  margin-top: 40px;
  position: relative;
  top: -108px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.yt-card-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: 105px;
  height: 25px;
  text-transform: capitalize;
}

.yt-card-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 90px;
  height: 22px;
  text-transform: capitalize;
}

.yt-slider-lines {
  width: 178px;
  height: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -24px;
}

.yt-slider-small-line {
  width: 20px;
  height: 6px;
  background: #00730C;
  border-radius: 8px;
}

.yt-slider-big-line {
  width: 50px;
  height: 6px;
  background: #00730C;
  border-radius: 8px;
}

.clients-saying {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 375px;
  height: 687px;
  padding-top: 50px;
  margin-top: 50px;
  background-image: url(../images/main-cs-background.png);
  background-repeat: no-repeat;
  background-position: top;
}

.cs-text {
  width: 345px;
  height: 163px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cs-text-head {
  width: 270px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: black;
  text-transform: capitalize;
}
.cs-text-head span {
  color: #00730C;
}

.cs-text-basic {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
}

.cs-review {
  width: 345px;
  height: 431px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}

.cs-rev-photo {
  margin-bottom: 30px;
}

.cs-rev-text {
  width: 305px;
  height: 123px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  padding-top: 13.76px;
  margin-bottom: 15px;
  background-image: url(../images/main-review-qoutes.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cs-rev-info {
  width: 305px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cs-rev-info-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: 81px;
  height: 40px;
}

.cs-rev-info-name {
  width: 81px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #212529;
}

.cs-rev-info-post {
  width: 48px;
  height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #676767;
}/*# sourceMappingURL=style.css.map */