* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Nunito", sans-serif;
  background: white;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header-top {
  width: 100%;
  height: 55px;
  background-color: #0C4B35;
  padding: 22px 20px 17px;
}
@media (min-width: 1510px) {
  .header-top {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 0px;
  }
}

.header-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1510px) {
  .header-top-block {
    width: 1420px;
    height: 25px;
  }
}

.header-logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 20px;
}
@media (min-width: 1510px) {
  .header-logo-links {
    width: auto;
    height: 25px;
  }
}

.header-mail, .header-call, .header-location {
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
@media (min-width: 1510px) {
  .header-mail, .header-call, .header-location {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
}

.header-mail {
  background-image: url(../images/header-mail.png);
}
@media (min-width: 1510px) {
  .header-mail {
    background-image: url(../images/destop/dheader-mail.png);
  }
}

.header-call {
  background-image: url(../images/header-call.png);
}
@media (min-width: 1510px) {
  .header-call {
    background-image: url(../images/destop/dheader-call.png);
  }
}

.header-location {
  background-image: url(../images/header-location.png);
}
@media (min-width: 1510px) {
  .header-location {
    background-image: url(../images/destop/dheader-location.png);
  }
}

.header-mail-text, .header-call-text, .header-location-text {
  display: none;
}
@media (min-width: 1510px) {
  .header-mail-text, .header-call-text, .header-location-text {
    display: block;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    margin-right: 30px;
  }
}

@media (min-width: 1510px) {
  .header-mail-text {
    width: 245px;
    height: 25px;
  }
}

@media (min-width: 1510px) {
  .header-call-text {
    width: 100px;
    height: 25px;
  }
}

@media (min-width: 1510px) {
  .header-location-text {
    width: 237px;
    height: 25px;
    margin-right: 0px;
  }
}

.choice-language {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 16px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.choice-language:after {
  content: "";
  display: block;
  padding-left: 5px;
  width: 7px;
  height: 4px;
  background-image: url(../images/header-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1510px) {
  .choice-language {
    width: 66px;
    height: 25px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .choice-language::after {
    content: "";
    display: block;
    width: 12px;
    height: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/destop/dheader-arrow.png);
    margin-left: 5px;
  }
}

.header-middle {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 55px;
  left: calc(50% - 1px);
  transform: translate(-50%, 0);
  right: 0px;
}

.header-logo {
  width: 90px;
  height: 40px;
}

.button-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  height: 34px;
  flex-wrap: wrap;
}

.menu-pages {
  display: none;
}

.call-us {
  background-image: url(../images/call-us-white.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 34px;
  border: 1px #00730C solid;
  border-radius: 10px;
  background-color: #00730C;
}
.call-us:hover {
  background-image: url(../images/call-us-green.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  cursor: pointer;
}

.menu-list {
  background-image: url(../images/header-menu-list.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}
.menu-list:hover {
  cursor: pointer;
}

.header-banner {
  width: 375px;
  height: 240px;
  margin-top: 38px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: auto;
  margin-top: 1px;
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}

.small-head-bot-banner {
  display: none;
}

.header-bottom-content {
  width: 375px;
  height: 466.17px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: normal;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 47.63px;
  padding-bottom: 35px;
}

.head-bottom-sub-head {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #212529;
  margin-bottom: 10px;
}
.head-bottom-sub-head::before {
  content: "";
  display: block;
  background-image: url(../images/header-bottom-plant.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 23.8px;
  height: 19.89px;
  margin-right: 5px;
}

.head-bottom-head {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  margin-bottom: 15px;
}
.head-bottom-head span {
  color: #00730C;
}

.head-bottom-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 40px;
}

.get-a-quate {
  padding: 12px 105px;
  width: 304px;
  height: 44px;
  background: #00730C;
  border-radius: 5px;
  border: 1px #00730C solid;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 19px;
}
.get-a-quate:hover {
  background: #FFFFFF;
  color: #00730C;
  cursor: pointer;
}

.see-work {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #00730C;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.see-work::after {
  content: "";
  display: block;
  background-image: url(../images/header-bottom-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 12.65px;
  margin-left: 12px;
}

.flower-head-left {
  position: relative;
  top: 0px;
  left: -10px;
  background-image: url(../images/flower-head-left.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 83px;
  height: 133px;
}

.two-buttons-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 32px;
  padding-left: 70px;
}

.first-button {
  width: 135px;
  height: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
}

.second-button {
  width: 128px;
  height: 32px;
  background: linear-gradient(180deg, #FFF8F1 0%, #D7E8D9 100%);
}

.third-button {
  display: none;
}

.first-button, .second-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: 32px;
  border: 0px;
}

.button-number {
  width: 29px;
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #212529;
}

.button-first-text {
  width: 76px;
  height: 14px;
}

.button-second-text {
  width: 74px;
  height: 14px;
}

.button-first-text, .button-second-text {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #212529;
}

.big-head-bot-banner {
  display: none;
}

.services, .about-us, .why-choose-us {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

.service-head {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  width: 267px;
  height: 38px;
  color: #212529;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.service-head span {
  color: #00730C;
}

.service-text {
  width: 344px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 30px;
}

.service-8-sentences {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 1068px;
}

.serv-sentence {
  width: 345px;
  height: 116px;
  padding: 20px;
  background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sentence-logo {
  width: 50px;
  height: 50px;
}

.sentence-texts {
  width: 235px;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.sentence-head {
  width: auto;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
}

.sentence-text {
  width: 235px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.au-photo {
  display: block;
}

.au-photo2 {
  display: none;
}

.au-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  width: 345px;
  height: auto;
}

.au-content-head {
  width: 345px;
  height: 76px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  margin-bottom: 15px;
}
.au-content-head span {
  color: #00730C;
}

.au-content-text {
  width: 345px;
  height: 330px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  margin-bottom: 40px;
}

.au-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 344px;
  height: 208px;
  margin-bottom: 30px;
}

.au-cards-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 344px;
  height: 94px;
  margin-bottom: 20px;
}

.au-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  width: 162px;
  height: 94px;
  background: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
}

.au-card-text {
  width: 132px;
  height: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #212529;
}

.discover-more {
  width: 167px;
  height: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  border: 1px #00730C solid;
  border-radius: 5px;
  background-color: #00730C;
  color: #FFFFFF;
}
.discover-more:hover {
  background-color: #FFFFFF;
  color: #00730C;
  cursor: pointer;
}

.why-choose-us {
  margin-top: 50px;
  background: #0C4B35;
  width: 100%;
  height: 694px;
  color: #FFFFFF;
  padding-bottom: 50px;
}

.wcu-photo {
  width: 345px;
  height: 217px;
  display: block;
}

.wcu-photo2 {
  display: none;
}

.wcu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 337px;
}

.wcu-content-head {
  width: 210px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
}

.wcu-content-text {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.wcu-difference {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 64px;
}

.wcu-difference-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 22px;
}

.wcu-diff-pick {
  width: 158px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wcu-diff-pick::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/main-wcu-tick.png);
}

.working-process {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.wp-text {
  width: 345px;
  height: 163px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.wp-text-head {
  width: 220px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-transform: capitalize;
}
.wp-text-head span {
  color: #00730C;
}

.wp-text-basic {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
}

.wp-4-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 892px;
}

.wp-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 208px;
  padding: 20px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
}

.wp-card-logo-and-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 305px;
  height: 50px;
}

.wp-card-number {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 50px;
  color: #E3E3E3;
  padding-right: 10px;
}

.wp-card-text {
  width: 305px;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.wp-card-head {
  width: 305px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #212529;
}

.wp-card-basic {
  width: 305px;
  height: 66px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.main-cta {
  width: 100%;
  height: 224px;
  padding: 0px 15px;
  margin-top: 55px;
}

.cta-photo {
  background-image: url(../images/main-cta-photo.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 224px;
}

.cta-basic {
  position: relative;
  top: -174px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 272px;
  height: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cta-text {
  width: 272px;
  height: 54px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

.cta-call-us {
  width: 137px;
  height: 40px;
  color: #00730C;
  text-transform: capitalize;
  background: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 5px;
  border: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-call-us::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/call-us-green.png);
  margin-right: 10px;
}
.cta-call-us:hover {
  background: #00730C;
  color: #FFFFFF;
}
.cta-call-us:hover::before {
  background-image: url(../images/call-us-white.png);
}

.your-team, .faq, .main-blog {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

.your-team {
  width: 100%;
  height: auto;
}

.yt-texts {
  width: 345px;
  height: 233px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.yt-head {
  width: 225px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: black;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.yt-head span {
  color: #00730C;
}

.yt-basic {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 30px;
}

.yt-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.yt-card {
  width: 345px;
  height: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}
.yt-card:first-child {
  display: block;
}

.yt-card-photo {
  display: block;
}

.yt-card-photo2 {
  display: none;
}

.yt-card-text {
  width: 345px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
  border-radius: 5px;
  color: #FFFFFF;
  margin-top: 40px;
  position: relative;
  top: -108px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.yt-card-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: 105px;
  height: 25px;
  text-transform: capitalize;
}

.yt-card-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 90px;
  height: 22px;
  text-transform: capitalize;
}

.yt-slider-lines {
  width: 178px;
  height: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.yt-slider-small-line {
  width: 20px;
  height: 6px;
  background: #00730C;
  border-radius: 8px;
}

.yt-slider-big-line {
  width: 50px;
  height: 6px;
  background: #00730C;
  border-radius: 8px;
}

.clients-saying {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 687px;
  padding-top: 50px;
  margin-top: 50px;
  background-image: url(../images/main-cs-background.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 585px;
}

.cs-text {
  width: 345px;
  height: 163px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.cs-text-head {
  width: 270px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: black;
  text-transform: capitalize;
}
.cs-text-head span {
  color: #00730C;
}

.cs-text-basic {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
}

.cs-arrows {
  display: none;
}

.cs-review {
  width: 345px;
  height: 431px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}

.cs-rev-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 305px;
  height: 391px;
}
.cs-rev-card:last-child {
  display: none;
}

.cs-rev-photo {
  display: block;
  width: 135px;
  height: 183px;
}

.cs-rev-photo2 {
  display: none;
}

.cs-rev-text {
  width: 305px;
  height: 123px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  padding-top: 13.76px;
  margin-bottom: 15px;
  background-image: url(../images/main-review-qoutes.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cs-rev-info {
  width: 305px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cs-rev-info-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 81px;
  height: 40px;
}

.cs-rev-info-name {
  width: 81px;
  height: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #212529;
}

.cs-rev-info-post {
  width: 48px;
  height: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #676767;
}

.faq {
  width: 100%;
  height: auto;
}

.mcon-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 201px;
  margin-bottom: 42px;
}

.mcon-text-head {
  width: 220px;
  height: 76px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  text-transform: capitalize;
  color: #212529;
}
.mcon-text-head span {
  color: #00730C;
}

.mcon-text-basic {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
}

.mcon-questions-answers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: 562px;
}

.mcon-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  height: 44px;
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  background: #FFF8F1;
}
.mcon-question:first-child {
  background: #00730C;
}
.mcon-question:first-child .mcon-question-text {
  color: #FFFFFF;
}
.mcon-question:last-child {
  margin-bottom: 0px;
}

.mcon-question-text {
  width: 285px;
  height: 19px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #212529;
}

.mcon-question-minus, .mcon-question-plus {
  width: 20px;
  height: 20px;
}
.mcon-question-minus:hover, .mcon-question-plus:hover {
  cursor: pointer;
}

.mcon-answer {
  width: 313px;
  height: 242px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
  margin-bottom: 20px;
}

.faq-photo {
  display: none;
}

.mb-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 345px;
  height: auto;
}

.mb-text-head {
  width: 297px;
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: #212529;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.mb-text-head span {
  color: #00730C;
}

.mb-text-basic {
  width: 345px;
  height: 110px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #676767;
  margin-bottom: 40px;
}

.mb-card {
  width: 345px;
  height: 408px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 30px 20px;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  background-image: url(../images/main-blog-back-image.png);
  background-repeat: no-repeat;
  background-position: 225px 0px;
}
.mb-card:first-child {
  display: none;
}
.mb-card:last-child {
  display: none;
}

.mb-card-tag {
  width: 122px;
  height: 30px;
  background: #D9F1E0;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #00730C;
  margin-bottom: 40px;
}

.mb-card-text {
  width: 305px;
  height: 213px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
}

.mb-card-text-head {
  width: 277px;
  height: 44px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: #00730C;
  margin-bottom: 15px;
}

.mb-card-text-basic {
  width: 305px;
  height: 154px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}

.mb-card-separator {
  width: 305px;
  height: 1px;
  background: #E3E3E3;
  margin-bottom: 10px;
}

.mb-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 305px;
  height: 24px;
}

.mb-card-info-data {
  width: 81px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #676767;
}

.mb-card-info-profile {
  width: 85px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #676767;
}
.mb-card-info-profile::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/main-blog-card-prof.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.mb-slider {
  display: none;
}

.company-logos {
  width: 315px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.cl-1, .cl-2, .cl-5, .cl-6 {
  display: none;
}

.cl-3 {
  background-image: url(../images/footer-company-1.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 141px;
  height: 70px;
  mix-blend-mode: luminosity;
}

.cl-4 {
  background-image: url(../images/footer-company-2.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 112px;
  height: 70px;
  mix-blend-mode: luminosity;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 140px;
  background: #0C4B35;
  color: #FFFFFF;
}

.link-for-button {
  width: 320px;
  height: 179px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 30px 50px;
  background: #D9F1E0;
  border-radius: 5px;
  position: relative;
  top: -90px;
}

.footer-button-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: #212529;
}
.footer-button-text span {
  color: #00730C;
}

.small-get-a-quate {
  width: 153px;
  height: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 38px;
  color: #FFFFFF;
  text-transform: capitalize;
  border-radius: 5px;
  background: #00730C;
  border: 1px #00730C solid;
}
.small-get-a-quate:hover {
  background: #FFFFFF;
  color: #00730C;
}

.footer-subscribe {
  margin-top: -40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 344px;
  height: auto;
}

.footer-sub-basic {
  margin-bottom: 15px;
}
.footer-sub-basic form {
  border-bottom: 1px #FFFFFF solid;
  width: 344px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-sub-head {
  width: 205px;
  height: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.footer-sub-text {
  width: 345px;
  height: 66px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
}

.foot-wr-let-email {
  width: 233px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
  background: none;
  border: 0;
  color: #FFFFFF;
}
.foot-wr-let-email::-moz-placeholder {
  color: #FFFFFF;
}
.foot-wr-let-email:-ms-input-placeholder {
  color: #FFFFFF;
}
.foot-wr-let-email::placeholder {
  color: #FFFFFF;
}

.foot-wr-let-button {
  width: 106px;
  height: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  border: 0;
  padding: 0px;
  margin-right: 5px;
  background: none;
  color: #FFFFFF;
}
.foot-wr-let-button:hover {
  cursor: pointer;
}

.links-for-network {
  width: 340px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link-for-facebook, .link-for-twitter, .link-for-google, .link-for-in {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px #FFFFFF solid;
  background: none;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.link-for-facebook:hover, .link-for-twitter:hover, .link-for-google:hover, .link-for-in:hover {
  background: #FFFFFF;
  cursor: pointer;
}

.link-for-facebook {
  background-image: url(../images/footer-facebook-white.png);
}
.link-for-facebook:hover {
  background-image: url(../images/footer-facebook-green.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link-for-twitter {
  background-image: url(../images/footer-twitter-white.png);
}
.link-for-twitter:hover {
  background-image: url(../images/footer-twitter-green.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link-for-google {
  background-image: url(../images/footer-google-white.png);
}
.link-for-google:hover {
  background-image: url(../images/footer-google-green.png);
  background-position: center;
  background-repeat: no-repeat;
}

.link-for-in {
  background-image: url(../images/footer-in-white.png);
}
.link-for-in:hover {
  background-image: url(../images/footer-in-green.png);
  background-position: center;
  background-repeat: no-repeat;
}

.contacts {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 345px;
  height: 126px;
}

.foot-contact-head {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}

.foot-contact-address, .foot-contact-phone, .foot-contact-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}
.foot-contact-address:last-child, .foot-contact-phone:last-child, .foot-contact-email:last-child {
  margin-bottom: 0px;
}

.useful-links {
  width: 345px;
  height: 158px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
}

.foot-ul-head {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.foot-ul-table {
  width: 260px;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-ul-line-1 {
  width: 76px;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 99px;
}

.foot-ul-line-2 {
  width: 85px;
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.foot-ul-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot-ul-item:before {
  content: "";
  display: block;
  width: 6px;
  height: 10px;
  background-image: url(../images/footer-ul-arrow.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.popular-services {
  width: 345px;
  height: 158px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40px;
}

.foot-ps-head {
  width: 141px;
  height: 25px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.foot-ps-item {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}
.foot-ps-item:last-child {
  margin-bottom: 0px;
}

.footer-separator {
  margin-top: 40px;
  width: 345px;
  height: 1px;
  background: #FFFFFF;
}

.footer-text {
  width: 286px;
  height: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 15px;
}

.footer-bottom {
  margin-top: 20px;
  width: 285px;
  height: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.foot-bot-priv-pol, .foot-bot-sitemap, .foot-bot-terms-of-use {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.foot-bot-priv-pol {
  width: 88px;
  height: 19px;
}

.foot-bot-sitemap {
  width: 53px;
  height: 19px;
}

.foot-bot-terms-of-use {
  width: 84px;
  height: 19px;
}/*# sourceMappingURL=style.css.map */