* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    background: white;
}

@import "./variables";
@import "./mixin";
@import "./header";
@import "./main";
@import "./footer";